{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        <img class="imagem__imagem" src="{% static '/assets/imagens/galeria/SMACS.png' %}">
                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <p class="imagem__titulo">SMACS J0723.3-7327</p>
                                <p class="imagem__descricao">12 de julho de 2022</p>
                                <p class="imagem__texto">Primeiro, concentre-se nas galáxias responsáveis ​​pela lente: a galáxia elíptica branca brilhante no centro da imagem e as galáxias brancas menores em toda a imagem. Unidos pela gravidade em um aglomerado de galáxias, eles estão dobrando a luz das galáxias que aparecem nas vastas distâncias atrás deles. A massa combinada das galáxias e da matéria escura atuam como um telescópio cósmico, criando imagens ampliadas, contorcidas e às vezes espelhadas de galáxias individuais.</p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}